body{
    width: 100%;
    margin: 0;
}
.container{
    background-color: rgb(43, 43, 124);
}
.search{
    margin-left: 88%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.search input{
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.images img{
    width: 300px;
}
.images #title{
    color: white;
}
main{
    background-color: rgb(7, 7, 51);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#title{
    padding: 20px 30px;
    text-align: center;
    background-color: rgb(43, 43, 124);
}
