body{
    /* border: 1px solid black; */
    margin: 0;
}
/* .corps{
    margin: 50px;
    border: 1px solid pink;
} */
.haut{
    margin-left:300px;
    
}

.haut h1, h2, p{
    text-align: center;
}

.haut h1{
    color: #74C69D;
    font-size: 20px;
    
}
.haut h2{
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -10px;
}
.haut p{
    font-size: 25px;
    margin-top: -20px;
    margin-left: 400px;
    margin-right: 400px;
    /* border: 1px solid blue; */
}


header{
    background-color: #74C69D;
    display: flex;
}
.entete{
    margin-left: 50px;
}
.haut{
    width: 1200px;
    /* border: 1px solid green; */
}
.options{
    width: 1500px;
    margin: auto;
    padding-left: 900px;
}
.options ul{
    display: flex;
    list-style: none;
    align-items: center;
    flex-direction: row;
    justify-content: center;

}

.options ul li{
    margin-right: 70px;
}

a{
    color: white;
}


.images{
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    margin: 40px 260px 40px 240px;
    padding-left: 20px;
    margin-top: -10px;
}

.images div{
    margin: 30px;
    
}
footer{
    display: flex;
    background-color: #74C69D;
    margin: 50px 0 50px 0;
    padding: 30px 0 30px 0;
}

.logo_site{
    margin-left: 80px;
}

.logo_site img{
    width: 350px;
}

.copyright{
    font-size: 20px;
    color: white;
    margin-left: 900px;

}


