body{
    background: url("background.jpg") no-repeat fixed;
}
.container{
    width: 900px;
    border: 1px solid white;
    transform: translate(50%, 50%);
    margin-top: 150px;
}
.title header{
    color: white;
    border: 1px solid red;
    text-align: center;
    font-size: 50px;
}

.alphaNum{
    border: 1px solid green;
}
.numeric, .alpha{
    color: white;
}
.numeric ul{
    display: flex;
    list-style: none;
    font-size: 45px;
    justify-content: center;
    border: 1px solid rgb(255, 0, 221);
}
.numeric ul li{
    margin-right: 20px;
    padding-right: 40px;
}
.alpha ol{
    display: flex;
    list-style: none;
    font-size: 30px;
    justify-content: center;
    border: 1px solid yellow;
    
}

.alpha ol li{
    margin-right: 20px;
    padding-right: 5px;
}

.annee{
    color: white;
    transform: translate(50%);
    font-size: 70px;
    padding-right: 60px;
    padding-top: 100px;
    margin-right: 900px;
    margin-left: 200px;
    opacity: 0.33;
    text-align: center;
    border: 1px solid blue;
}
