body{
    width: 100%;
    margin: 0;
    position: absolute;
}
.container{
    display: flex;
    /* border: 1px solid black; */
    width: 95%;
    margin: 10px 0 0 50px;
    /* padding: 10px; */
    background-color: #5F5F5F;
    position: relative;
}
.tables{
    display: flex;
    flex-wrap: wrap;
    width: 90%; 
    margin-top: 20px;
    margin-left: 10px;
    padding-left: 20px;
    /* border: 1px solid black; */
}
.table{
    /* border: 1px solid black; */
    padding: 20px 40px;
    margin: 3px;
    border-radius: 20px;
    background-color: #9A9A9A;
}
.sidebar{
    width: 25%;
    margin: 25px 0 25px 25px;
    padding-bottom: 30%;
    /* border: 1px solid black; */
    background-color: #3F3D3E;
    border-radius: 20px 0 0 20px;
}
#search{
    margin-top: 20px;
    margin-left: 45px;
    padding: 7px 70px 7px 70px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}
#select{
    width: 370px;
    margin-top: 20px;
    margin-left: 30px;
    padding: 8px 235px 8px 0;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
}
.content{
    margin: 25px 0 25px 0;
    /* padding: 20px; */
    width: 70%;
    background-color: #232122;
    border-radius: 0 20px 20px 0;
    /* position: absolute;
    transform: translate(35%);
    z-index: 1; */
}
.content .toggle1, .toggle2{
    float: right;
}
.content header, svg{
    color: white;
   
}
.content header{
    padding: 25px;
}
.trash, .classe, .person, .house{
    border-radius: 100%;
    padding: 7px;
}
.trash{
    background-color: #CC0A33
}
.classe{
    background-color: #D98341
}
.person{
    background-color: #4EB2D7
}
.house{
    background-color: #2AAA30
}

.table div:nth-child(2),.table span:nth-child(2){
    font-size: 18px; 
    margin-left: 10px; 
    color: white;
}
main{
    /* margin-bottom: 50px; */
    position: relative;
    /* top: 5px; */
    
}
div .jour{
    border: 1px solid grey;
    /* padding: 45px; */
    margin-top: 2px;
    border-radius: 10px;
    background-color: #5E6867;
    width: 100%;

}
section .name{
    background-color: #232122;
    color: white;
    padding: 40px 5px;
    /* text-align: center; */
    border-radius: 15px 0 0 15px;
    font-size: 25px;
    display: flex;
    width: 13%;
    
}
.navbar {
    background-color: #3F3D3E;
    border-radius: 10px;
    position: relative;
    bottom: -15px;
}
.navbar ul{
    display: flex;
    list-style: none;
    /* padding-left: 20px; */
    padding: 5px 0 5px 95px;
}
.navbar li{
    margin-left: 7.3%;
    color: white;
}

.modal{
    position: relative;
    z-index: 1;
    background-color: black;
    margin-left: 5%;
    border: 1px solid white;
    width: 40%;
    opacity: 0.95;
    transform: translate(50%, 50%);
    margin-top: -55%;
    position: relative;
}
#modalHeader{
    color: white;
    /* border: 1px solid white; */
    text-align: center;
    font-size: 30px;
    background-color: #242123;
    /* height: 10%; */
    padding: 20px;
}
.mainModal{
    color: black;
    background-color: gray;
    padding: 65px;
}
.mainModal .modalModule, .modalSalle, .modalEnseign, .modalClasse, .modalBegin, .modalEnd{
    color: white;
    display: flex;
    margin-left: 10px;
    /* border: 1px solid white; */
    font-size: 15px;
}
.modal select{
    margin-left: 150px;
    width: 25%;
    height: 15%;
    font-size: 20px;
    /* padding-right: 40px; */
}
.modal section span {
    font-size: 25px;
    margin: 5px;
    /* border: 1px solid black; */
    padding-right: 30px;
    width: 30%;
}

.modal footer{
    background-color: #242123;
    padding-left: 250px;
}
.modal button{
    margin: 20px 20px;
    padding: 10px;
    font-size: 20px;
}
.divCours{
    border: 1px solid white;
    position: relative;
    width: 9%;
    border-radius: 10px;
    box-shadow: 3px 5px 5px grey;
    text-align: center;
    height: 115px;
    top: -2px;
    color: white;
}
#lundi, #mardi, #mercredi, #jeudi, #vendredi{
    display: flex;
}
#pCours{
    font-size: 20px;
    font-weight: bold;
}
#selectSalle{
    margin-left: 150px;
    /* padding-left: 100px; */
}

.nombreDeCours{
    color: white;
    position: relative;
    top: 30px;
    font-size: 20px;
    margin-left: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#error{
    color: red;
    position: relative;
    top: 50px;
    font-size: 20px;
}