body{
    width: 100%;
    margin: 0;
}
.container{
    display: flex;
    border: 1px solid black;
    width: 95%;
    margin: 10px 200px 0 50px;
    /* padding: 10px; */
    background-color: #5F5F5F;
}
.tables{
    display: flex;
    flex-wrap: wrap;
    width: 90%; 
    margin-top: 20px;
    margin-left: 10px;
    padding-left: 20px;
    border: 1px solid black;
}
.table{
    border: 1px solid black;
    padding: 20px 40px;
    margin: 3px;
    border-radius: 20px;
    background-color: #9A9A9A;
}
.sidebar{
    width: 25%;
    margin: 25px 0 25px 25px;
    padding-bottom: 30%;
    border: 1px solid black;
    background-color: #3F3D3E;
}
#search{
    margin-top: 20px;
    margin-left: 55px;
    padding: 5px 70px 5px 70px;
    border-radius: 10px;
}
#select{
    margin-top: 20px;
    margin-left: 30px;
    padding: 8px 120px 8px 150px;
    border-radius: 10px;
}
.content{
    margin: 25px 0;
    /* padding: 20px; */
    width: 70%;
    background-color: #232122;
}
.content .toggle1, .toggle2{
    float: right;
}
.content header, svg{
    color: white;
   
}
.content header{
    padding: 25px;
}
.trash{
    background-color: #CC0A33;
    border-radius: 100%;
    padding: 7px;
}
.classe{
    background-color: #D98341;
    border-radius: 100%;
    padding: 7px;
}
.person{
    background-color: #4EB2D7;
    border-radius: 100%;
    padding: 7px;
}
.house{
    background-color: #2AAA30;
    border-radius: 100%;
    padding: 7px;
}

.table div:nth-child(2),.table span:nth-child(2){
    font-size: 18px; 
    margin-left: 10px; 
    color: white;
}
main{
    margin-top: 50px;
}
section .jour{
    border: 1px solid white;
    padding: 45px;
    margin-top: 2px;
    border-radius: 10px;
    background-color: #5E6867;
}
