body{
    border: 1px solid black;
    margin: 0;
}
header{
    background-color: #74C69D;
    display: flex;
}
.entete{
    margin-left: 50px;
}   

.options{
    width: 1500px;
    margin: auto;
    padding-left: 900px;
}
.options ul{
    display: flex;
    list-style: none;
    align-items: center;
    flex-direction: row;
    justify-content: center;

}

.options ul li{
    margin-right: 70px;
}

a{
    color: white;
}
