body{
    width: 100%;
    margin: 0;
}
.container{
    /* width: 100%; */
    background-color: rgb(236, 233, 233);
    border: 1px solid rgb(241, 240, 240);
    margin: 50px 310px 50px 50px;
}
.buttons{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    width:  50%;
    /* border: 1px solid black; */
    margin: 15% 95% 20% 5%;
    padding: 50px;
    border-radius: 10px;
    background-color: white;
}
.btn, .btn1, .btn2, .btn3{
    color: white;
    font-size: 18px;
    padding: 15px;
    border-radius: 15px;
}
.btn{
    background-color: rgb(16, 181, 16);
}
.btn1{
    background-color: rgb(149, 11, 11);
}
.btn2{
    background-color: rgb(240, 180, 67);
}
.btn3{
    background-color: rgb(51, 149, 247);
}
.projet{
    /* border: 1px solid black; */
    background-color: rgb(39, 172, 39);
    font-size: 25px;
    width: 15%;
    text-align: center;
    padding: 50px 0 0 0;
    margin-bottom: 10px;
    margin-left: 83%;
    border-radius: 10px;
    /* float: right; */
}