body{
    width: 100%;
    margin: 0;
}
.container{
    display: flex;
    box-shadow: 5px 5px 5px grey;
    margin: 10% 30%;
    background-color: rgb(225, 224, 224);
    border: 1px solid green;
}

.btns{
    border: 1px solid blue;
    margin: 0  0 10px 5px;
    padding: 0 60px 100px 20px;
    background-color: white;
}
.btns p{
    margin-right: 20px;
    padding-right: 70px;
    border-radius: 5px;
    font-size: 17px;
    font-family: Verdana, sans-serif;
}
.btns p:hover{
    background-color: blue;
    color: white;
}
.area{
    border: 1px solid red;
    padding: 100px 50px;
}
.area svg{
    border: 1px solid grey;
    padding: 10px 20px;
    border-radius: 3px;
}