body{
    width: 100%;
    margin: 0;
}

section{
    background-color: aqua;
}
.icon{
    background-color: rgba(76, 194, 76, 0.749);
    width: 23%;
    left: 0;
    
    /* margin-top: 30px; */
}
.add{
   width: 100%;
   right: 0;
}
.icon svg{
    
    margin-right: 10px;
    
}

