body{
    width: 100%;
    margin: 0;
}
.container{
    background-color: aqua;
}
header .add{
    margin-left: 94%;
}
.icon{
    background-color: rgba(76, 194, 76, 0.749);
    width: 100%;
    color: white;
    text-align: right;
}

header{
    width: 100%;
    /* border: 1px solid black; */
}
section{
    margin: 30px 40px;
}

main{
    display: flex;
    flex-wrap: wrap;
}
.add{
    background-color: rgba(76, 194, 76, 0.749);
    font-size: 15px;
   color: white;
   border: white;
   margin-top: 20px;
   padding: 10px 15px;
}
